h1 {
    background-color: gray;
    padding: 1em;
    margin: 1em;
}

p {
    background-color: cornflowerblue;
    border: 1em double black;
}

.para-size {
    width: 300px;
}

.margin-auto {
    margin-left: 40%;
}